# ${project.name} v${project.version}
# @author     ucchy
# @license    LGPLv3
# @copyright  Copyright ucchy 2013



# -------------------- 一般設定 --------------------

# PVPを実施するworld名を設定してください。複数指定可能です。
worlds: ['world']

# チーム無所属の人がサーバーに参加したときに、
# ワールドのリスポーン地点へテレポートするようになります。
# ワールドのリスポーン地点の登録は、
# /cspawn world コマンドや、/setworldspawn コマンドを使用してください。
worldSpawn: false

# まとめてテレポート実行時のディレイ間隔を指定します。単位はtick（20tick=1秒）
# サーバーがスペック不足で、参加人数が多すぎるとき、
# /ctp all コマンドに遅延が発生する場合は、この値を少し大きくしてください。
teleportDelay: 2

# /cclassコマンドでクラスを設定したときに、
# 体力の回復をするかどうかを設定します。
healOnSetClass: true

# /cclassコマンドでクラスを設定したときに、
# ポーション効果の除去をするかどうかを設定します。
clearEffectOnSetClass: true



# -------------------- チームチャット設定 --------------------

# サーバー起動時のチームチャットモードを設定します。
# trueになっている場合は、チャットの発言がチーム内のみになります。
teamChatMode: false

# teamChatMode が有効のときに、OPメンバーの画面にもチームチャットの内容を
# 表示するかどうかを設定します。
opDisplayMode: false

# チームチャットの内容を、コンソールに表示します。
# 同時に、server.log にも記録されます。
teamChatLogMode: true

# チームチャットの表示フォーマットを設定します。
# 次のキーワードが使用できます。
# %team → チーム名、%name → プレイヤー名、%prefix → プレフィックス、%suffix → サフィックス
# プレフィックスとサフィックスを有効にするには、
# Vaultと、チャット装飾関連プラグイン(PermissionsExなど)がロードされている必要があります。
teamChatFormat: '&a[%team&a]%prefix<%name>%suffix %message'



# -------------------- チャットのJapanize化設定 --------------------

# 通常のチャットをJapanize化します。
showJapanizeGlobalChat: false

# チームチャットをJapanize化します。
showJapanizeTeamChat: true



# -------------------- PVPのルール設定 --------------------

# 同じチームメンバー同士の攻撃（剣などの直接攻撃と、弓矢やポーション）の
# 有効/無効を設定します。true → 攻撃が有効、false → 攻撃が無効
friendlyFire: false

# 透明化した同じチームメンバーが、見えるようにするかどうかを設定します。
# true → 透明化したメンバーが見える、false → 透明化したプレイヤーは誰からも見えない
seeFriendlyInvisible: true

# ベッドリスポーン地点を、チームリスポーン地点よりも優先するかどうかを設定します。
# （Rush形式のPVP用設定です。）
# true → ベッドリスポーン地点＞チームリスポーン地点＞ワールドリスポーン地点
# false → チームリスポーン地点＞ベッドリスポーン地点＞ワールドリスポーン地点
priorBedRespawn: false

# プレイヤー死亡時に、ゲームオーバーを表示せずにリスポーンするかどうかを設定します。
# true → ゲームオーバー画面を表示しないでそのままリスポーンする
# false → 通常通りゲームオーバーを表示する
skipGameover: false

# 死んでリスポンしたときに、チームから自動で抜けるかどうかを設定します。
colorRemoveOnDeath: false

# ログアウトしたときに、チームから自動で抜けるかどうかを設定します。
colorRemoveOnQuit: false

# worlds設定に書かれていないワールドへ移動したときに、
# チームから自動で抜けるかどうかを設定します。
colorRemoveOnChangeWorld: false

# 死んでリスポンしたときに、ダメージを無効にする秒数を設定します。
# colorRemoveOnDeath が true だと、この設定は無視されますので注意してください。
noDamageSeconds: 5

# 死んでリスポンしたときに、体力の最大値を20（ハート10個分）に戻すかどうかを設定します。
resetMaxHealthOnDeath: true



# -------------------- 一般プレイヤーのコマンド実行設定 --------------------

# 一般プレイヤーが、/cjoin (group) コマンドを使用して、
# チームを作ったり参加したりすることができるようにするかを、設定します。
allowPlayerJoinAny: false

# 一般プレイヤーが、/cjoin コマンドで、ランダムに人数の少ないチームに
# 参加することができるようになります。
allowPlayerJoinRandom: true

# 一般プレイヤーが、/cleave コマンドを使用して、
# チームから離脱することができるようにするかを、設定します。
allowPlayerLeave: false



# -------------------- スコア表示設定 --------------------

# サイドバーに表示するチームスコアの種類を指定します。
#   kill - キル数
#   death - デス数
#   point - ポイント(上記のctKillPoint,ctDeathPointの項目を参照)
#   rest - 残り人数
#   none - 非表示
sideCriteria: rest

# listCriteria: TABキーリストに表示する個人スコアの種類を指定します。
#   kill - キル数
#   death - デス数
#   point - ポイント(上記のctKillPoint,ctDeathPointの項目を参照)
#   health - 残り体力
#   none - 非表示
listCriteria: point

# 名前の下に表示する個人スコアの種類を指定します。
# 指定可能な項目は、listCriteriaと同じです。
belowCriteria: none



# -------------------- スコア設定 --------------------

# cpointコマンド用の得点設定。
# ただし、クラス設定にkill_pointやdeath_pointが設定されている場合は、そちらが優先されます。
#   ctKillPoint - 他のチームのプレイヤーを倒したときの獲得点数。
#   ctDeathPoint - 誰かに倒されたときの獲得点数。
ctKillPoint: 1
ctDeathPoint: -1

# いずれかのチームが指定のキル数に達したときに、通知を行うかどうかを設定します。
# 30を指定した場合は、30キル達成で通知します。0の場合は通知オフとなります。
# clコマンドで大将を選出している場合は、本設定は無視されることに注意してください。
killTrophy: 0

# いずれかのチームが指定のキル数に達したときに、通知を行うかどうかを設定します。
# 25を指定した場合は、25キル達成で
# 「red チームが、30 キルまでもう少しです(あと 5 キル)。」と通知します。
# 0の場合は通知オフとなります。
# killTrophyが 0 の場合や、killTrophy より killReachTrophy が大きい場合は、この設定は無視されます。
# clコマンドで大将を選出している場合も、本設定は無視されます。
killReachTrophy: 0



# -------------------- キルログ設定 --------------------

# ColorTeamingからのキルログ変更を有効にするかどうかを指定します。
# trueにすると、ColorTeamingでチーム分けされた人が死亡したときに、
# 標準のキルログの代わりにカスタムキルログが表示されます。
enableCustomKilllog: false

# カスタムキルログの表示形式です。
# 次のキーワードが使用できます。
# %killer → キルした人、%deader → キルされた人、
# %weapon → キルした人が手に持っていたアイテムの表示名
customKilllogFormat: '%killer [%weapon&f] %deader'

# 自滅したときのカスタムキルログの表示形式です。
# ColorTeamingのチームに所属していて、キルした人が取得できない場合は、
# こちらが表示されます。
# キーワードは %deader のみが使用できます。
customKilllogSelfDestructFormat: 'xxx [自爆&f] %deader'



# -------------------- メッセージ設定 --------------------
# 各メッセージはコメントアウトすることで、該当メッセージを非表示にすることができます。

randomMapSelectedMessage: '&e今回のマップは&c%map&eです！'

joinTeamMessage: '&aあなたは %team &aチームになりました。'
leaveTeamMessage: '&aチームから離脱しました。'

leaderDefeatedMessage: '%team &dチームの大将、%name &dが倒されました！'
leaderRunawayMessage: '%team &dチームの大将、%name &dは逃げ出した！'
leaderDefeatedRemainMessage: '%team &dチームの残り大将は、あと %num 人です。'
leaderDefeatedAllMessage: '%team &dチームの大将は全滅しました！'
leaderClearMessage: '&d大将設定がクリアされました。'
leaderInformationSummayMessage: '%team チームの大将：'
leaderInformationTeamChatMessage: '%team &dチームの大将に、%name &dが選ばれました。'

killReachTrophyMessage: '%team &dチームが、%trophy キルまでもう少しです(あと %remain キル)。'
killTrophyMessage: '%team &dチームは、%trophy キルを達成しました！'

errorJoinRandomNotAllowMessage: '&ccjoinコマンドによるランダム参加は、許可されておりません。'
errorJoinAnyNotAllowMessage: '&ccjoin (group) コマンドによる任意チームへの参加は、許可されておりません。'
errorLeaveNotAllowMessage: '&ccleaveコマンドによる離脱は、許可されておりません。'
errorAlreadyJoinMessage: '&cあなたは既に、チームに所属しています。'
errorNotJoinMessage: '&cあなたはチームに所属していません。'
errorNoTeamMessage: '&c参加できるチームが無いようです。'
errorInvalidTeamNameMessage: '&c%arg は設定できないチーム名です。'


# 以下のメッセージは、コメントアウトしないでください。

sidebarTitleTeamPoint: '&eチームポイント'
sidebarTitleTeamKill: '&eスコア(キル数)'
sidebarTitleTeamDeath: '&eスコア(デス数)'
sidebarTitleTeamRest: '&eチーム人数'
belowNameTitlePoint: '&epoints'
belowNameTitleKill: '&ekills'
belowNameTitleDeath: '&edeaths'
belowNameTitleHealth: '&eHP'
