# ${project.name} v${project.version}
# @author     ucchy
# @license    LGPLv3
# @copyright  Copyright ucchy 2013

# PVPを実施するworld名を設定してください。複数指定可能です。
worlds: ['world']

# サーバー起動時のチームチャットモードを設定します。
# trueになっている場合は、チャットの発言がチーム内のみになります。
teamChatMode: false

# teamChatMode が有効のときに、OPメンバーの画面にもチームチャットの内容を
# 表示するかどうかを設定します。
opDisplayMode: false

# チームチャットの内容を、コンソールに表示します。
# 同時に、server.log にも記録されます。
teamChatLogMode: true

# チームチャットの表示フォーマットを設定します。
# 次のキーワードが使用できます。
# %team → チーム名、%name → プレイヤー名、%prefix → プレフィックス、%suffix → サフィックス
# プレフィックスとサフィックスを有効にするには、
# Vaultと、チャット装飾関連プラグイン(PermissionsExなど)がロードされている必要があります。
teamChatFormat: '&a[%team&a]%prefix<%name>%suffix %message'

# 同じチームメンバー同士の攻撃（剣などの直接攻撃と、弓矢やポーション）の
# 有効/無効を設定します。true → 攻撃が有効、false → 攻撃が無効
friendlyFire: false

# 透明化した同じチームメンバーが、見えるようにするかどうかを設定します。
# true → 透明化したメンバーが見える、false → 透明化したプレイヤーは誰からも見えない
seeFriendlyInvisible: true

# ベッドリスポーン地点を、チームリスポーン地点よりも優先するかどうかを設定します。
# （Rush形式のPVP用設定です。）
# true → ベッドリスポーン地点＞チームリスポーン地点＞ワールドリスポーン地点
# false → チームリスポーン地点＞ベッドリスポーン地点＞ワールドリスポーン地点
priorBedRespawn: false

# プレイヤー死亡時に、ゲームオーバーを表示せずにリスポーンするかどうかを設定します。
# true → ゲームオーバー画面を表示しないでそのままリスポーンする
# false → 通常通りゲームオーバーを表示する
skipGameover: false

# cpointコマンド用の得点設定。
# ただし、クラス設定にkill_pointやdeath_pointが設定されている場合は、そちらが優先されます。
#   ctKillPoint - 他のチームのプレイヤーを倒したときの獲得点数。
#   ctDeathPoint - 誰かに倒されたときの獲得点数。
ctKillPoint: 1
ctDeathPoint: -1

# 死んでリスポンしたときに、チームから自動で抜けるかどうかを設定します。
colorRemoveOnDeath: false

# ログアウトしたときに、チームから自動で抜けるかどうかを設定します。
colorRemoveOnQuit: false

# worlds設定に書かれていないワールドへ移動したときに、
# チームから自動で抜けるかどうかを設定します。
colorRemoveOnChangeWorld: false

# 死んでリスポンしたときに、ダメージを無効にする秒数を設定します。
# colorRemoveOnDeath が true だと、この設定は無視されますので注意してください。
noDamageSeconds: 5

# 死んでリスポンしたときに、体力の最大値を20（ハート10個分）に戻すかどうかを設定します。
resetMaxHealthOnDeath: true

# 一般プレイヤーが、/cjoin (group) コマンドを使用して、
# チームを作ったり参加したりすることができるようにするかを、設定します。
allowPlayerJoinAny: false

# 一般プレイヤーが、/cjoin コマンドで、ランダムに人数の少ないチームに
# 参加することができるようになります。
allowPlayerJoinRandom: true

# 一般プレイヤーが、/cleave コマンドを使用して、
# チームから離脱することができるようにするかを、設定します。
allowPlayerLeave: false

# サイドバーに表示するチームスコアの種類を指定します。
#   kill - キル数
#   death - デス数
#   point - ポイント(上記のctKillPoint,ctDeathPointの項目を参照)
#   rest - 残り人数
#   none - 非表示
sideCriteria: rest

# listCriteria: TABキーリストに表示する個人スコアの種類を指定します。
#   kill - キル数
#   death - デス数
#   point - ポイント(上記のctKillPoint,ctDeathPointの項目を参照)
#   health - 残り体力
#   none - 非表示
listCriteria: point

# 名前の下に表示する個人スコアの種類を指定します。
# 指定可能な項目は、listCriteriaと同じです。
belowCriteria: none

# いずれかのチームが指定のキル数に達したときに、通知を行うかどうかを設定します。
# 30を指定した場合は、30キル達成で通知します。0の場合は通知オフとなります。
# clコマンドで大将を選出している場合は、本設定は無視されることに注意してください。
killTrophy: 0

# いずれかのチームが指定のキル数に達したときに、通知を行うかどうかを設定します。
# 25を指定した場合は、25キル達成で
# 「red チームが、30 キルまでもう少しです(あと 5 キル)。」と通知します。
# 0の場合は通知オフとなります。
# killTrophyが 0 の場合や、killTrophy より killReachTrophy が大きい場合は、この設定は無視されます。
# clコマンドで大将を選出している場合も、本設定は無視されます。
killReachTrophy: 0

# チーム無所属の人がサーバーに参加したときに、
# ワールドのリスポーン地点へリスポーンするようになります。
# ワールドのリスポーン地点は、/cspawn world コマンドを使用してください。
worldSpawn: false

# 通常のチャットをJapanize化します。
showJapanizeGlobalChat: false

# チームチャットをJapanize化します。
showJapanizeTeamChat: true

# テレポート実行時の、ディレイ間隔を指定します。単位はtick（20tick=1秒）
teleportDelay: 2
